*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
data.txt
/release
/app/release
/app/src/google-services.json
/app/src/main/res/values/private_strings.xml